@keyframes slide {
  from {
    height: 0;
    line-height: 0;
    padding: 0;
    margin-bottom: 0;
  }
  to {
    height: 58px;
  }
}

.body {
  background-color: #212121;
  color: aliceblue;
}

nav {
  background-color: #212121;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

#converted {
  display: none;
  animation: slide 1s;
  animation-play-state: paused;
  position: relative;
  top: 0%;
  align-items: center;
  text-align: center;
  translate: middle;
}
.button-container {
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
#swap {
}
#convert {
  padding: 10px;
}
h2 {
  text-align: center;
}
.nav-item {
  position: relative;
  overflow: hidden;
  padding: 10px;
  font-family: sans-serif;
}
.nav-item::after{
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: #12cfb6;
  transform: scale(0.5);
}

.nav-item:hover::after{
  transform: scale(1);
}

a {
  color: bisque;
}



a:hover {
  color:burlywood;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 2.3em;
  width: 2.3em;
  background-color: #ccc;
  border-radius: 50%;
  transition: .4s;
}

.checkmark:hover {
  box-shadow: inset 17px 17px 16px #b3b3b3,
            inset -17px -17px 16px #ffffff;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  box-shadow: none;
  background-color: limegreen;
  transform: rotateX(360deg);
}

.container input:checked ~ .checkmark:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.96em;
  top: 0.7em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  box-shadow: 0.1em 0.1em 0em 0 rgba(0,0,0,0.3);
  transform: rotate(45deg);
}

#button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid #FF0072;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #FF0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

#button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
}

#button:hover, #button:focus {
  color: white;
}

#button:hover:before, #button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#button:active {
  transform: scale(0.9);
}

.nav-brand {
  background-color: blueviolet;
}
.gg-swap {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  box-shadow: -2px 2px 0, 2px -2px 0;
  width: 6px;
  height: 2px;
}

.gg-swap::after,
.gg-swap::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.gg-swap::before {
  border-left: 3px solid;
  top: -4px;
  right: -4px;
}

.gg-swap::after {
  border-right: 3px solid;
  bottom: -4px;
  left: -4px;
}
.levels {
  margin: auto;
  width: 50%;
  height: auto;
  border: 3px solid green;
  padding: 10px;

}