{% extends 'tech/layout.html' %}

{% block title %}

    Sami

{% endblock %}

{% block body %}

    <h1 id="ttr">View Books</h1>

    {% for book in books %}
        <div class="book">  
            <fieldset id="fb">
                <legend id="book-title">{{ book.title }}</legend>
                <img src="{{ book.src }}" alt="{{ book.alt }}" id="img">
                <p id="des">Description: {{ book.description }}</p>
                <a id="bks" href="https://soudanisami.tn/" class="btn btn-success">View site</a>
            </fieldset>
        </div>
    {% endfor %}

{% endblock %}